* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
  }
  
  body {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(44,62,113);
    flex-direction: column;
    gap:20px;
  }
  #logoSanMiguel{
    color: white;
  }

  .container {
    background-color: whitesmoke;
    padding: 1px;
    width: 355px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 darkgrey;
}


  
  
  form {
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 300px;
    height: 400px;
    margin-top: 10%;
  }
  
  .buttonsForm {
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 rgb(124,30,29);
  }
  
  .buttonsForm button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 29px;
  }
  
  .btnColor {
    position: absolute;
    width: 108px;
    height: 100%;
    background: linear-gradient(to left, rgb(150,30,29), rgb(202, 30, 30));
    border-radius: 30px;
    transition: .3s;
  }
  
  input[type="text"], input[type="password"],input[type="email"] {
    border: none;
    margin-top: 40px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
  }
  
  button[type="submit"] {
    background: rgb(124,30,29);
    color: white;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
  }
  #logoSanMiguel {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#logoSanMiguel img{
    width: 40%;
    margin-left: 30%;
    
    
     
}
  .divCheck {
    margin: 10px 0 0 5px;
    width: 80%;
    font-size: 13px;
  }
  
  #signin {
    left: 25px;
  }
  
  #signup {
    left: 450px;
  }
  
  i {
    position: absolute;
    left: 0;
    padding: 10px 10px;
  }
  
  .iEmail {
    top: 40px;
  }
  
  .iPassword {
    top: 114px;
  }
  
  .iPassword2 {
    top: 190px;
  }