
/*CSS de toda a Página*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html,body{
    height: 100%;
    background-color: white;
    width: 150%;
    
}
header{
   background-color: rgb(44,62,113);
   padding: 10px 2%;
   display: flex;
   justify-content: space-between;
}
.info-header{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoSanMiguel img{
width: 25%; /*tamanho logo da san miguel no topo*/
margin-left: -6.5%;
}

/*FIM CSS CABEÇALHO*/

/* INICIO CSS BARRA LATERAL DO MENU*/

.menu-bar{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: white;
}

.side-bar{
    width: 9%;
    height: 100%;
    background-color: white;
    padding: 0 8px;
    
}
.side-bar h3{
    color:rgb(44,62,113) ;
    font-size: 20px;
    margin-top: 10px;
}

.side-bar img{
    margin-right: 2%;
    
}

.side-bar a{
    display: block;
    text-decoration: none;
    color:rgb(44,62,113) ;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 16px;
}

.side-bar a:hover{
    display: block;
    text-decoration: none;
    color:rgb(124,30,29) ;
    background-color:rgb(245, 245, 245);
    border-radius: 9px;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* FIM CSS BARRA LATERAL DO MENU*/

/* ----------------------------- INICIO CSS CONTEUDO DA PAGINA ------------------------------------------------*/

/* CAIXAS DE INFORMAÇÕES COLORIDAS - INICIO ---- TOPO HTML - A COLORACAO ESTÁ SENDO FEITA NO HTML EM LINHA*/

.content{
    width: 91%;
    background-color: rgb(245, 245, 245);
    padding-left: 1%;
    height: 500%;
}

.box-info{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
   
}

.box-single{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    border-radius: 10px;
    margin:0 10px;
 
}

/* CAIXAS DE INFORMAÇÕES COLORIDAS - FIM ---*/

/* TABELAS DE INFORMAÇÕES QUE QUANTIDADE DE INTERNADOS - INICIO ---*/

.tab-info{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
    
}

.tab-single{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin:0 10px;
    box-shadow: 3px 3px 3px 3px #888888;
           
}

.tab-single h3{
    color: black;
       
}

.tab-single p{
    color: #888888;
    padding-top: 5%;
   
}

.tab-text tr{
    color: black;
    padding-top: 5%;
    font-size: 10px;
    

}
.tab-text td{
    color: #888888;
    padding-top: 5%;
    font-size: 10px;
    
}

.tabdados{
text-align: center;
color: #888888;
}
/* TABELAS DE INFORMAÇÕES QUE QUANTIDADE DE INTERNADOS - FIM ---*/

/* TABELAS DE INFORMAÇÕES DE DESOSPITALIZACAO - INICIO ---*/


.tab-desospitalizacao{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
       
}

.tab-desosp-text{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    margin:0 10px;
    box-shadow: 3px 3px 3px 3px #888888;
    gap: 2px;
    height: 30%;
           
}


/* TABELAS DE INFORMAÇÕES DE DESOSPITALIZACAO - FIM---*/


body[page=lista] #listaRegistros{ display: block; }
body[page=cadastro] #cadastroRegistro{ display: flex; }

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
}

/*Responsividade da Página*/

@media screen and (max-width:720px){
    .sidenav {padding-top: 15px}
    .sidenav a {font-size: 18px}
    .conteudo {padding-top: 15px}
    .conteudo a {font-size: 18px}
    #main {font-size: 14px;gap: 30px}
    #main h2,a{font-size: 14px}
}
#listaRegistros{ display: none; }
#cadastroRegistro{
    display: none;
    flex-direction: column;
    gap: 30px;
}

.tab-desospitalizacao2{
    width: 60%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
       
}
.tab-desosp-text2{
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    margin:0 10px;
    box-shadow: 3px 3px 3px 3px #888888;
    gap: 2px;
    height: 30%;
           
}

form{
    width: 130%;
}

#barrapesquisa{
    margin-top: 2%;
}

table{
    width: 100%;
    border-collapse: collapse;
}
table th,
table td{
    font-size: 16px;
    padding: 1px 4px;
    border: solid 1px #ccc;
    margin-top: 1%;
    align-items: center;
    
}


button{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #07a;
    color: #fff;
    margin: 3px;
    padding: 3px 3px;
    font-size: 14px;

}
button.cinza{
    background-color: #ccc;
    color: #666;
}
button.vermelho{
    background-color: #a00;
     
}
button.verde{
    background-color: rgb(4, 192, 76);
    color: white;
}
button:hover{
    opacity: 0.8;
}

.bottoesEdicao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
input,select{
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 10px;
}
h4{
    
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: rgb(124,30,29);
    color: #fff;
    margin-left: 35%;
    width: 20%;
    text-align: center;
    
}

.label>div,select{
    display: flex;
    margin-top: 1%;
}
.label>div>input,select{
    flex: 0.75;
}

textarea{
    display: flex;
    flex: 1;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 10px;
    flex: 0.75;
    
}

#oba{
    padding: 3px 3px;
}